@{
    ViewBag.Title = null;
   
    
}
@Html.ActionLink("Результат", "About", "Home")
   
<!DOCTYPE html>
<html>
<body>
    <div>
        <form method="POST" action="/Home/Save">
            <input name="text" type="text" placeholder="Введите текст" />
            <button type="submit">Отправить</button>
      
       
    </div>
</body>
</html>

